header {
    background-color: #034C8C;
    color: #f7f7f7;
    padding: 1rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .menu li a {
    color: #f7f7f7;
    text-decoration: none;
    padding: 0.5rem;
    transition: ease-in-out 0.5s;
  }
  
  .menu li a:hover {
    color: #c7c7c7;
  }