header {
    background-color: transparent;
    color: #03318C;
    padding: 1rem;
    font-size: 1.2rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .menu li a {
    color: #03318C;
    text-decoration: none;
    padding: 0.5rem;
    transition: ease-in-out 0.5s;
  }
  
  .menu li a:hover {
    color: #c0c0c0;
  }